HELP.md
target/
compose-docker/osrm-data
.mvn/wrapper/maven-wrapper.jar

# Ignorar todos los target y build generados en cualquier módulo
**/target/
**/build/
target/
build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
