version: '3.1'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    command: start-dev
    ports:
      - "8081:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin123
      - KC_HOSTNAME=keycloak
      - KC_HOSTNAME_PORT=8080
    volumes:
      - keycloak_data:/opt/keycloak/data
  db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=123
      - POSTGRES_USER=postgres
      - POSTGRES_DB=mydatabasename
    volumes:
      - postgres_data:/opt/postgres/data
  gateway:
    image: gateway
    depends_on:
      - keycloak
    ports:
      - "8082:8082"
  pedidos:
    image: pedidos-service
    expose:
      - "8001"
    depends_on:
      - db
volumes:
  keycloak_data:
  postgres_data:

